Connected to Python 3.10.13

In [1]:
download_data("bbas3.sa")

NameError: name 'download_data' is not defined

In [2]:
from data.download import download_data

In [3]:
download_data("bbas3.sa")

[*********************100%%**********************]  1 of 1 completed

                 Open       High        Low      Close  Adj Close    Volume
Date
2000-01-03   2.800000   2.853333   2.733333   2.733333   1.074564    514800
2000-01-04   2.733333   2.740000   2.603333   2.603333   1.023456    314100
2000-01-05   2.600000   2.633333   2.506666   2.630000   1.033940    478800
2000-01-06   2.630000   2.666666   2.600000   2.666666   1.048355    205200
2000-01-07   2.666666   2.666666   2.606666   2.606666   1.024767    394200
...               ...        ...        ...        ...        ...       ...
2023-12-08  53.900002  54.599998  53.660000  54.450001  54.107632  10392100
2023-12-11  54.450001  54.709999  54.070000  54.439999  54.097694   5737000
2023-12-12  53.799999  53.799999  52.410000  52.500000  52.500000  12531800
2023-12-13  52.470001  53.259998  51.639999  52.980000  52.980000  18080000
2023-12-14  53.500000  53.560001  52.400002  53.330002  53.330002  18436600

[5926 rows x 6 columns]